

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  width: 50%;
  padding: 10px;
  margin-left: 33%;
  margin-right: 25%;
  margin-top: 20%;
}

.form-control {
  margin: 5px;
}

.button {
  width: 20px !important;
  margin: auto !important;
  margin-top: 20px !important;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: rgba(255, 22, 22, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 10px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
#menu {
  margin-top: 50px;
  background-color: transparent;
}

#header {
  background-color: white;
  justify-content: flex-end;
  display: flex;
}

#m {
  right: 10%;
  display: flex;
  flex-direction: row-reverse;
  background-color:transparent;
  border-color: transparent;
  height: 100%;
  width:97%
  
}

.code-box-demo p {
  margin: 100;
}

.ant-card {
  margin-bottom: 30px;
}

.ant-spin-nested-loading {
  margin: 20px 5% 0 5%;
}

/* .ant-switch {
  display: flex;
  flex-direction: row-reverse;
} */

[data-theme="dark"] .site-card-border-less-wrapper {
  background: #303030;
}

.view-all-button {
  margin-left: 50px;
  margin-top: 20px;
}

.employee-list {
  margin-top: 40px;
  left: 5%;
  width: 900px;
}

.gridStyle {
  width: "600px";
}

.switch {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

[data-theme="dark"] .site-card-border-less-wrapper {
  background: #303030;
}
.activities-card {
  top: 20%;
  width: 600px;
  margin-bottom: 30px;
  box-shadow: 10px 8px 20px 0 #b72025;
  transition: 0.3s;
}

.activities-overview{
  top: 20%;
  width: auto;
  margin:50px;
  box-shadow: 10px 8px 20px 0 #b72025;
  transition: 0.3s;
}
.activities-view {
  width: 800px;
}
/* .activities-home {
  width: 100%;
} */

.info-display {
  top: 20%;
  transition: 0.3s;
}
.info-tab {
  /* margin: 0 auto;
  width: 80%; */
  top: 20%;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: 0.3s;
}

.status-tabs {
  display: 'flex';
  flex-wrap: wrap;
}

.side-bar {
  background: #b72025; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #000090,
    #b72025
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #000090,
    #b72025
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.view-all-button {
  margin-left: 50px;
  margin-top: 20px;
}
.employee-list {
  margin-top: 40px;
  left: 5%;
  width: 900px;
}
.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5%;
  margin-right: 3%;
  color: #b72025;
}
.title-divider {
  margin-left: 5%;
  margin-right: 5%;
  width: 400px;
  background-color: rgb(0, 0, 0);
}
#logo {
  width: 100px;
  position: relative;
}
.logo {
  width:140px;
  height:40px;
  position: relative;
}
.gridStyle {
  width: "600px";
}

.small-divider {
  background-color: #b72025;
}

.cycle-list {
  background-color: #ffffffc7;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 10px 8px 20px 0 #b720259d;
  transition: 0.3s;
}

.cycle-list-current {
  background: #b72025; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #00009073,
    #b72025
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00009073, #b72025);
  color: white;
  border: transparent;
  border-bottom-right-radius: 1cm;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 10px 8px 20px 0 #2a29299d;
  transition: 0.3s;
  height: 180px;
}

.side-menu {
  background-color: #0099cc;
}

.info-card {
  top: 20%;
  width: 800px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-color: white;
}

.info-card1 {
  top: 20%;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-color: white;
  box-shadow: 10px 8px 20px 0 #b72025;
}

.leaderboard-tab-list {
  margin-left: 100px;
}

.header-group {
  display: flex;
  flex-direction: row;
}

.ant-table-thead > tr > th {
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  text-align: left;
  background: #b72025;
  border-bottom: 1px solid #f0f0f0;
  transition: 0.3s ease;
}

.ant-table-thead :hover {
  position: relative;
  color: rgba(0, 0, 0);
  font-weight: 500;
  text-align: left;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  transition: 0.3s ease;
}
.ant-tabs-tab ant-tabs-tab-active {
  color: springgreen;
}

.semi-back {
  background: #b72025; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #00009071,
    #0099cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #00009038,
    #0099cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 600px;
}

.semi-lower {
  background-color: white;
  height: auto;
  /* width: 1200px; */
  margin-left: 15%;
  margin-right: 15%;
  top: -380px;
  border-radius: 4cm;
}

.profile-components {
  display: flex;
  justify-content: center;
}

#change-password {
  width: 40%;
  box-shadow: 10px 8px 20px 0 #b7202593;
  top: 40%;
}
.App {
  display: flex;
  flex-direction: row;
}
.profile-activities {
  width: 900px;
  padding: 0cm;
  border-radius: 1cm;
}
.components-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #b72025;
  margin-left: 5%;
}
.activities-home-container {
  box-shadow: 10px 8px 20px 0 #b72025;
  transition: 0.3s;
  margin-left: 5%;
  width: 70%;
  background-color: white;
}
.activities-container {
  box-shadow: 10px 8px 20px 0 #b72025;
  transition: 0.3s;
  background-color: white;
}

.clock-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #b72025;
  margin-left: 20%;
}
.welcome-bar {
  width: 75%;
  height: 250px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
  border-radius: 2cm;
  background: #b72025; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #00009073,
    #b72025
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #00009073,
    #b72025
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home {
  margin: 0 auto;
}

.welcome-statement {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15%;
  font-size: 2.5em;
  color: white;
}
.avatar {
  width: 250px;
  padding-bottom: 90px;
}
.avatar-block {
  top: -100px;
}

.rowsss {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
  width: 85%;
}

.welcome-line {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: 20px;
  color: white;
}

.centered-component {
  margin: 0 auto;
}

/* WAVE */

.ocean {
  overflow: hidden;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
.wave {
  background: url("https://aquaworldcruises.com/wp-content/themes/aqua-world-theme/images/wave.svg")
    repeat-x;
  position: absolute;
  bottom: 0px;
  width: 9680px;
  height: 98px;
  -webkit-animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .wave {
    top: -75px;
    height: 75px;
  }
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1920px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1920px;
  }
}

@-webkit-keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

/* INFO CARD */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 260px;
  left: 20%;
  height: 340px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 10px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
  background: #e91e63;
}

body .container .card:nth-child(3) .box .content a {
  background: #23c186;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: linear-gradient(-45deg, #0099cc, #9cb5ca);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.445);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.login {
  background-color: rgba(243, 235, 235, 0.787);
  box-shadow: 1px 0px 10px 20px rgba(243, 235, 235, 0.787);
  width: 40%;
  color: white;
  height: 60%;
  margin: 0 auto;
  /* background-image: url("../login.jpeg"); */
}
.login-background{

    /* The image used */
    background-image: url("../login.png");
    padding: 0cm;
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.login-form {
  padding: 30px;
  margin-top: 10%;
  color: white;
 
}
.avatar-login{
  margin-left: 40%;
  margin-top: 20%;
  color: white;
}
.ant-layout{
  padding: 0cm !important;
}
body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: white;
}

.card__details {
  color: white;
  font-size: 15px;
  list-style-type: none;
}

/*###########################################*/

/* Cycle Cards */
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-top-big {
  margin-top: 5rem !important;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
  background: #000;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  letter-spacing: 0.2rem;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #eee;
}

.butn {
  position: relative;
  left: 25%;
  width: 200px;
  height: 75px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  border-radius: 30cm;
  background-color: rgb(255, 255, 255);

}


.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc466b),
    to(#3f5efb)
  );
  background: linear-gradient(to right, #fc466b, #3f5efb);
  color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 42.5%;
} 

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-plans {
  background-color: #000;
  padding: 4rem 0 4rem 0;
}

.card {
  /* -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem; */
  position: relative;
  height: 42rem;
  width: 20%;
  margin: 2%;
}

.card__side {
  height: 42rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--front-2 {
  background: linear-gradient(-45deg, #0099cc, #9cb5ca);
}
.card__side--front-3 {
  background: linear-gradient(-45deg, #e6231e, #0099cc);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-2 {
  background: linear-gradient(-45deg, #0099cc, #9cb5ca);
}

.card__side--back-3 {
  background: linear-gradient(-45deg, #e6231e, #0099cc);
}

.card:hover .card__side--front-1,
.card:hover .card__side--front-2,
.card:hover .card__side--front-3 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__title {
  height: 20rem;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__title--1 .fas {
  font-size: 5rem;
}

.card__title--2 .fas {
  font-size: 5rem;
}

.card__title--3 .fas {
  font-size: 5rem;
}

.card__heading {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__details {
  padding: 0 2rem 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 3rem;
  font-weight: 100;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
/*  */

.activities-list{
  margin: 0 auto;
}