body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  width: 50%;
  padding: 10px;
  margin-left: 33%;
  margin-right: 25%;
  margin-top: 20%;
}

.form-control {
  margin: 5px;
}

.button {
  width: 20px !important;
  margin: auto !important;
  margin-top: 20px !important;
}
