body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  width: 50%;
  padding: 10px;
  margin-left: 33%;
  margin-right: 25%;
  margin-top: 20%;
}

.form-control {
  margin: 5px;
}

.button {
  width: 20px !important;
  margin: auto !important;
  margin-top: 20px !important;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: rgba(255, 22, 22, 0.3);
}
.logo {
  float: left;
  width: 100px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 10px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
#menu {
  margin-top: 60px;
}

#header {
  background-color: rgb(255, 255, 255);
  justify-content: flex-end;
}

#m {
  display: flex;
  flex-direction: row-reverse;
}
.code-box-demo p {
  margin: 100;
}
.ant-card {
  margin-bottom: 30px;
}

.ant-spin-nested-loading {
  margin: 20px 5% 0 5%;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #b72025;
}
